django>=5.0
djangorestframework
djangorestframework-simplejwt
django-cors-headers
lucide-react
framer-motion
axios
react-router-dom
react-datepicker
jwt-decode
@tanstack/react-query
chart.js
react-chartjs-2
